extends layout

block content
    
 .jumbotron
     .container
        h1 How May I Help You?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut velit velit, auctor eget massa nec, rutrum accumsan eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec suscipit nibh
        a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;

  .container
      .row 
        .col-md-4
             h2 About Us  
             p Vestibulum id dolor malesuada, molestie ipsum iaculis, pulvinar erat. Integer viverra justo quis nulla interdum dignissim. Ut convallis enim vel varius ultricies
             a.btn.btn-default(href='#') View Details
           
        .col-md-4
             h2 Services
             p Vestibulum id dolor malesuada, molestie ipsum iaculis, pulvinar erat. Integer viverra justo quis nulla interdum dignissim. Ut convallis enim vel varius ultricies
             a.btn.btn-default(href='#') View Details
          .col-md-4
             h2 Get in touch
             p Vestibulum id dolor malesuada, molestie ipsum iaculis, pulvinar erat. Integer viverra justo quis nulla interdum dignissim. Ut convallis enim vel varius ultricies
             a.btn.btn-default(href='#') View Details


